@import "reset";

body {
  font-family: 'Noto Sans KR', sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.section {
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    padding: 0 0 15px;
    font-size: 32px;
  }

  p {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #7c8595;
    padding-bottom: 15px;
    text-align: center;
  }
}

header {
  .top-header {
    background: #343434;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;

      .links {
        a {
          display: inline-flex;
          align-items: center;
          padding: 0 10px;
          height: 40px;
          border-right: 1px solid #525252;
          transition: 0.5s;

          i {
            color: #dedede;
            font-size: 17px;
          }
        }

        a:nth-child(1):hover {
          background: #00a2d3;

        }

        a:nth-child(2):hover {
          background: #721c24;

        }

        a:nth-child(3):hover {
          background: #004085;

        }

        a:nth-child(4):hover {
          background: #543e90;
        }

        a:nth-child(5):hover {
          background: #00a2d3;
        }

      }

      .txt {
        display: flex;

        p {
          display: flex;
          color: #dedede;
          word-spacing: -5px;

          span {
            display: flex;
            align-items: center;
            color: #dedede;
            font-size: 24px;
          }
        }

        p:nth-child(1) {
          padding-right: 30px;
        }
      }
    }
  }

  .main-header {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 84px;

      .logo {
        a {
          img {
            display: flex;
            width: 171px;
            height: 45px;
          }
        }
      }

      nav {
        display: flex;
        align-items: center;

        ul {
          display: flex;

          li {
            a {
              padding-right: 30px;
              color: #2f362f;
              font-weight: 600;

              i {
                padding-left: 5px;
              }
            }

            .home {
              color: #3498db;
            }
          }
        }
      }
    }
  }
}


.main {
  background: #3498db;

  main {
    padding: 70px 0;
    display: flex;
    align-items: center;

    .visual {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .txt {
        margin-right: 50px;
        width: 40%;
        text-transform: capitalize;
        color: #fff;

        h1 {
          font-size: 38px;
          padding: 20px 0;
        }

        p {
          padding: 0 10px 30px 0;
          font-size: 18px;
          line-height: 28px;
          font-weight: 400;
        }

        a {
          ////position: absolute;
          //top: 50%;
          display: flex;
          justify-content: center;
          padding: 16px 30px;
          width: 170px;
          font-size: 13px;
          color: #fff;
          letter-spacing: 2px;
          text-transform: uppercase;
          border: 3px solid #fff;
          border-radius: 5px;
        }
      }

      .img {
        width: 50%;
        height: 380px;
        background: url("../images/main1.png") 50% 50%/cover no-repeat;
      }
    }
  }
}

.sponsor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 151px;
  background: #f6f7f8;

  .links {
    display: flex;
    justify-content: center;

    a {
      display: flex;
      align-items: center;
      padding: 10px 23px;

      img {
        opacity: 0.4;
        width: 154px;
        height: 70px;

      }
    }
  }
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0 50px;

  .item {
    display: flex;
    justify-content: center;

    .list {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;

      img {
        border-radius: 50%;
      }

      h3 {
        padding: 20px 0 30px;

      }

      p {
        font-size: 15px;
        line-height: 24px;
        font-weight: 400;
        color: #7c8595;
        padding-bottom: 15px;
        text-align: center;
      }
    }
  }
}

.video-part {
  padding: 90px 0;
  width: 100%;
  background: #f6f7f8;

  .content {
    display: flex;

    .video {
      padding: 0 15px;
      border: 0;
    }

    .txt {
      padding: 0 15px;
      color: #656565;

      .sub-title {
        display: flex;
        padding: 14px 20px;
        border-bottom: 3px solid #3498db;

        i {
          font-size: 25px;
        }

        h4 {
          padding: 0 0 0 14px;
        }
      }

      .detail {
        p {
          display: none;
          padding: 14px 20px;
          font-size: 15px;
          line-height: 24px;
          font-weight: 400;
          border-bottom: 1px solid #eee;
        }
      }
    }
  }
}

.projects {
  padding: 90px 0;
  background: #393f43;

  .title {
    h1 {
      color: #ddd;
    }

    p {
      color: #bbb;
      font-size: 16px;
    }
  }

  .box-list {
    display: flex;

    .box {
      width: 360px;
      margin: 16px;
      transition: 0.5s;

      &:hover {
        transform: translateY(-5px);
        transition: 0.5s;
        box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.05);

        .thumb {
          .img {
            &::before {
              opacity: 1;

            }
          }

          .link {
            position: absolute;
            top: 50%;
            left: 50%;
            padding: 16px;
            transform: translate(-50%, -50%);
            color: #fff;
            transition: 0.5s;
            opacity: 1;
          }
        }
      }

      &:nth-child(2) {
        .thumb {
          .img {
            background: url("../images/porject1.jpg") 50% 50% / cover no-repeat;
          }
        }
      }

      &:nth-child(3) {
        .thumb {
          .img {
            background: url("../images/porject2.jpg") 50% 50% / cover no-repeat;
          }
        }
      }


      .thumb {
        position: relative;

        .img {
          position: relative;
          width: 100%;
          height: 300px;
          background: url("../images/porject3.jpg") 50% 50% / cover no-repeat;
          border-radius: 5px 5px 0 0;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(57, 56, 56, 0.56);
            opacity: 0;
          }
        }


        .link {
          position: absolute;
          top: 50%;
          left: 50%;
          padding: 16px;
          transform: translate(-50%, -10%);
          color: #fff;
          opacity: 0;

          p {
            padding: 0 0 7px;
          }
        }
      }

      .detail {
        border: 1px solid #eee;
        border-radius: 0 0 5px 5px;

        .txt {
          text-align: center;
          padding: 16px;
          background: #f8fafb;
          color: #707575;

          span {
            display: flex;
            justify-content: center;
            padding-top: 5px;
            font-weight: 500;
            font-size: 14px;
            color: #000000;
          }
        }
      }
    }
  }

  .slide-btn {
    text-align: center;

    a {
      color: #e0e0e0;
      padding: 0 5px;
    }
  }
}

.data {
  padding: 50px 0;
  background: #2f3539;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
      color: #ddd;

      i {
        color: #3498db;
        font-size: 40px;
      }

      p {
        font-size: 28px;
      }

      span {
        font-style: italic;
      }
    }
  }
}

.features-icon {
  padding: 30px 0;
  .item {
    display: flex;
    flex-wrap: wrap;

    h3 {
      padding: 20px 0 10px;
    }

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 15px;
      width: 33.33%;

      p {
        text-align: center;
        width: 350px;
        color: #7c879c;
      }
    }
  }
}

.clients {
  padding: 90px 0;
  background: #3498db;

  .title {
    color: #fff;
    p {
      color: #fff;
      padding: 0 0 50px 0;
    }
  }

  .Testimonials {
    display: flex;
    .box {
      padding: 15px;
      .speech-bubble {
        position: relative;
        p{
          color: #767575;
          width: 370px;
          padding: 30px;
          background: #fff;
          text-align: center;
          border-radius: 10px;
        }
        i {
          position: absolute;
          bottom: -13px;
          left: 14%;
          color: #fff;
          font-size: 35px;
        }
      }

      .icon-box {
        display: flex;
        padding: 15px;

        img {
          border-radius: 50%;
          border: 6px solid #fff;
        }

        .txt {
          padding: 15px;
          color: #fff;
        }
      }
    }
  }
}

.news {
  padding: 90px 0;
  background: #fff;

  .title {
    h1 {
      color: #2f362f;
    }

    p {
      color: #7b7b7b;
      font-size: 16px;
    }
  }

  .box-list {
    padding: 50px 0 0;
    display: flex;

    .box {
      width: 360px;
      margin: 16px;
      transition: 0.5s;

      &:hover {
        transform: translateY(-5px);
        transition: 0.5s;
        box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.05);

        .thumb {
          .img {
            &::before {
              opacity: 1;

            }
          }

          .link {
            position: absolute;
            top: 50%;
            left: 50%;
            padding: 16px;
            transform: translate(-50%, -50%);
            color: #fff;
            transition: 0.5s;
            opacity: 1;
          }
        }
      }

      &:nth-child(2) {
        .thumb {
          .img {
            background: url("../images/services3.jpg") 50% 50% / cover no-repeat;
          }
        }
      }

      &:nth-child(3) {
        .thumb {
          .img {
            background: url("../images/services2.jpg") 50% 50% / cover no-repeat;
          }
        }
      }


      .thumb {
        position: relative;

        .img {
          width: 360px;
          height: 180px;
          position: relative;
          border-radius: 5px 5px 0 0;
          background: url("../images/services1.jpg") 50% 50% / cover no-repeat;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(57, 56, 56, 0.56);
            opacity: 0;
          }
        }


        .link {
          position: absolute;
          top: 50%;
          left: 50%;
          padding: 16px;
          transform: translate(-50%, -10%);
          color: #fff;
          opacity: 0;

          p {
            padding: 0 0 7px;
          }
        }
      }

      .detail {
        border: 1px solid #eee;
        border-radius: 0 0 5px 5px;

        .txt {
          .title {
            align-items: start;
            padding: 25px;
            background: #f6f7f8;
            color: #707575;

            h4 {
              a{
                font-size: 20px;
                color: #454545;
                padding: 15px 0 10px;
              }
            }
            .links {
              padding: 15px 0 10px;
              a {
                padding-right: 10px;
                color: #656565;
                i {
                  padding-right: 10px;
                }

                &:nth-child(1) {
                  border-right: 1px solid #bbb;
                  margin-right: 10px;
                }
              }
            }

            p {
              color: #656565;
              text-align: left;
            }
          }
        }
      }
    }
  }

  .slide-btn {
    text-align: center;

    a {
      color: #e0e0e0;
      padding: 0 5px;
    }
  }
}
